{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <a href="{{ path('blog_new') }}">New blog</a>

    {% for article in blog_entries %}
        {{ include('blog/article_details.html.twig', { 'article': article }) }}
    {% else %}
        <em>Nothing</em>
    {% endfor %}

    <div>
        <a href="{{ prev }}" class="btn btn-primary">Prev</a>
        <a href="{{ next }}" class="btn btn-primary">Next</a>
    </div>

    {{ parent() }}
{% endblock %}
